*{
    margin: 0;
    padding: 0;
}
header {
    background: url("/img/header-back.webp") fixed 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: rgba(21, 76, 228, 0.536);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    padding: 1rem;
    text-align: center;

}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 70px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;
}
nav ul li a:hover
{   color: orange;
    transform: scale(1.3);
}
.welcome {
    width:600px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.services {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    
}
.services ul li a{
    text-decoration: none;
    
}
.services ul{
    list-style:circle;
    
}
.services ul li:hover{
    list-style:square;
    
}
.services ul li a:hover{
    color: lightblue;
    
}
.contact-form{
    margin: 0 auto;
    height: auto;
    width: 500px;
}
form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 20px;

}
form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin:20px;
    
}
form button:hover{
    background-color: #333;
    color: orange;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin:20px;
    
}

footer {
    background-color: rgba(21, 76, 228, 0.536);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: 1rem;
    position:relative;
    bottom: 0;
}
h3{
    text-align: center;
}
details{
    margin-left: 20px;
}
.usluga{
    width:1000px;   
    margin: auto;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    

}
.carousel-image {
    height: 300px; 
  }
  

  .proud{
    width: 800px;
    background-color: rgba(128, 128, 128, 0.219);
    height: 800px;
   
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
 

  }
  .proud h3{
    text-align: center;
    padding: 30px;
  }
  .item-1{
    background-color: rgba(255, 255, 255, 0.774);
    width: 200px;
    height: 300px;
    align-items: center;
    text-align: center;
    padding: 30px;
    border: 1px solid lightskyblue;
    border-radius: 10px;
  }
  .item-1 img{
    width:100%;
    height: 100%;

  }
  .containr-items{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
    

  }